<section class="d-flex flex-wrap">
    <div *ngFor="let clip of clips?.data" class="d-flex flex-column m-2">
        <app-clip-preview [clip]="clip"></app-clip-preview>
        <div class="d-flex flex-row mt-2  mb-3">
            <button class="btn btn-primary me-2" (click)="add(clip)">Add</button>
            <div class="title-area">
                <h5 class="m-0">{{ clip.title }}</h5>
                <small class="d-block">Clipped by {{ clip.creator_name }}</small>
                <small class="d-block">{{ clip.created_at | date:'short' }}</small>
            </div>
        </div>
    </div>
</section>
<div *ngIf="added.length > 0 || submitted" class="added">
    <ng-container *ngIf="added.length > 0">
        <h3>Added</h3>
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row">
                <div *ngFor="let clip of added" class="m-2 position-relative">
                    <a (click)="remove(clip)" href="javascript:void(0)" class="remove">
                        <i class="fas fa-times-circle"></i>
                    </a>
                    <img [src]="clip.thumbnail_url" width="200">
                </div>
            </div>
            <button class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
    </ng-container>
    <ng-container *ngIf="submitted">
        <div class="d-flex flex-column m-3 align-items-center text-center">
            <h2>Clips has been updated</h2>
            <p>Please view your overlay at:  <strong>https://overlay.angelssword.com/websource/clips/{{ streamer }}</strong></p>
        </div>
    </ng-container>
</div>