h5 {
    font-size: 17px;
    margin-top: 5px;
}

.date {
    background: #fff;
}

.title-area {
    width: 220px;

    h5 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 20px;
    }

    small {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 22px;
    }
}

.remove {
    position: absolute;
    top: 5px;
    right: 5px;

    i {
        color: #fff;
        text-shadow: 1px 1px 1px #000;
    }
    
}

.added {
    position: fixed;
    padding: 15px;
    margin-left: -16px;
    bottom: 0;
    width: 100%;
    background: #c0c0c0;
    font-size: 20px;
    z-index: 3;
}