.content {
    min-height: calc(100vh - 146px);
    background-color: #F8F8F8;
}

.blackBg {
    background-color: #000;
    width: 1920px;
    height: 1080px;
}

.chatBg {
    background: transparent;
}